:root{
    --primary-color: #2d2d2d;
    --secondary-color: #fff;
}


*{
    font-family: "epilog", sans-serif;
    color: var(--primary-color);
}

.container{
    width: 1280px;
    margin: 0 auto;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    margin-top: 30px;
    margin-right: 100px;
    margin-bottom: 50px;

}
.header__top__logo {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    margin-left: 30px;

}

.header__top__logo h2{
    font-size: 25px;
    font-family: "epilog", sans-serif;

}

.header__top_menu {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;


}

.header__top_menu a{
    text-decoration: none;
    font-family: "epilog", sans-serif;
    color: var(--primary-color);
    margin-right: 10px;
    font-size: 20px;
    font-weight: lighter;

}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.main__content{
    margin-left: 40px;

}

.main__content__heading{
    font-family: "epilog", sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 30px;


}
.main__content__subheading{
    font-family: "epilog", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.main__content__text{
    font-family: "epilog", sans-serif;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 300;
    color: var(--primary-color);
    text-shadow: #2d2d2d40 0 3px 2px;

}

.main__content__buttons{
    margin-top: 50px;
}

.main__picture{
    margin-right: 150px;
}

.btn{
    height: 60px;
    width: 160px;
    border: none;
    font-family: "epilog", sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.footer.container{
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;


}
